node_modules
vendor
.git
.gitignore
.env
.env.*
!.env.example
*.md
tests
.vscode
.idea
.nova
.fleet
.zed
.phpactor.json
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
Thumbs.db
.DS_Store
